/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  padding: 30px;
  border: 3px solid #333;
  border-radius: 40px;
  text-align: center;
  display: flex;
  background-color: grey
}

.circle {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.red {
  background-color: #ff5050;
}

.green {
  background-color: #66cc66;
}

.yellow {
  background-color: #ffd700;
}
